[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/cec2017"]
	path = external/cec2017
	url = https://github.com/AlexixRugis/cec2017real.git
